extends ../layout

block styles
  link(href='http://sailsjs.org/styles/fonts.css', rel='stylesheet')
  link(href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')

block body
  #fb-root
    .content
      .header 
        .title Get First 
        .menu-bar
          ul
            li
              a.btn.btn-danger home
            li
              a.btn.btn-primary(href='javascript:FB.login();') introduction
            li 
              a.btn.btn-info(href='javascript:testAPI();') set
            li
              .fb-login-button(data-max-rows="1" data-size="medium" data-auto-logout-link="true" scope="publish_actions")
      .main
        input.form-control(type='text' name='searchString' placeholder='Page Url')
        input.form-control(type='text' name='message' placeholder='message for comment')
        button.searchBtn.btn.btn-default(type='button') Go
        button.cancelBtn.btn.btn-default(type='button') Cancel 
        .postPage

